@model Slider
@{
    ViewData["Title"] = "Update";
}

<div class="container-fluid">
    <h1>Update</h1>

    <form method="post" asp-action="update" enctype="multipart/form-data">
        <div class="row align-items-center">
            <div class="mb-3 col-md-2">
                <label asp-for="Title1" class="form-label">Title1</label>
                <input asp-for="Title1" class="form-control" placeholder="Title1">
                <span asp-validation-for="Title1" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-2">
                <label asp-for="Title2" class="form-label">Title2</label>
                <input asp-for="Title2" class="form-control" placeholder="Title2">
                <span asp-validation-for="Title2" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-2">
                <label asp-for="RedirectUrl" class="form-label">RedirectUrl</label>
                <input asp-for="RedirectUrl" class="form-control" placeholder="RedirectUrl">
                <span asp-validation-for="RedirectUrl" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-2">
                <label asp-for="ButtonText" class="form-label">ButtonText</label>
                <input asp-for="ButtonText" class="form-control" placeholder="ButtonText">
                <span asp-validation-for="ButtonText" class="text-danger"></span>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="mb-3 col-md-4">
                <label asp-for="Desc" class="form-label">Desc</label>
                <textarea class="form-control" asp-for="Desc" rows="5" placeholder="Description"></textarea>
                <span asp-validation-for="Desc" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-2">
                <label asp-for="Order" class="form-label">Order</label>
                <input asp-for="Order" class="form-control" placeholder="Order">
                <span asp-validation-for="Order" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-2">
                <label asp-for="ImageFile" class="form-label">ImageFile</label>
                <input asp-for="ImageFile" class="form-control" placeholder="ImageFile">
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
        </div>
        <div style="width:200px">
            <img style="max-width:100%" src="~/uploads/sliders/@Model.Image"/>
            @*<input type="hidden" name="Image" value="@Model.Image"/>*@
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>


