@{
    //int number1 = ;
    //int number2 = (int);
    //int number3 = (int);
}
<h1>Welcome to Detail page</h1>


<p>ViewData : @ViewData["number"]</p>
@*<p>ViewBag : @ViewBag.Number</p>*@
<p>TempdataData : @TempData["number2"]</p>



<p>Test: @ViewBag.Number</p>
