<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @*header*@
    <h1 style="color: red;">Header</h1>
    <div>
        @RenderBody()
    </div>
    @*footer*@
    <h1 style="color: green;">Footer</h1>
</body>
</html>
